body {
  margin: 0;
  font-size: 1.2em;
}

h1, p {
  margin: 0;
} 

/* {
  margin: 0;
  padding: 0;
} */

.container {
	max-width: 1200px; /* 브라우저 가로 크기 최대 1200px  */
	margin: 0 auto;

	font-size: 0;
}

.item {
	display: inline-block;
	vertical-align: top; /* 수직 정렬 */

	padding: 5%;
	font-size: 1rem; /*root em: 16*/
}

/* 
 *  item-1, item-2의 width 값을 더했을 때 100%가 되지 않는 것은
 *  각각에 부여된 padding 5% 값이 더해지기 때문이다.
 * 
 *  Total = width + (padding * 2)
 */

.item-1 {
	width: 30%;
	background: yellowgreen;
}

.item-2 {
	width: 50%;
	background: yellow;
}