body, p {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    background: lightslategray;
}

.item {
    background: lightcyan;
}

.item:nth-child(odd) {
    background: lightblue;
}

.img {
    width: 100px;
} 