body {
  margin: 0;
  font-size: 1.2em;
}

h1, p {
  margin: 0;
} 

/*
 *  float가 적용된 경우, container의 height가 0이 되버린다.
 *  즉, 부모 요소가 자식 요소를 품고 있지 않은 것으로 인식하게 되는 것이다.
 */

.container {
	background: pink;
}

/* 
 *  [추천] 가상 Element를 사용해 float를 해제하는 방법으로,
 *  ::after는 모든 자식 Element 이후에 추가된다.
 */
.container::after {
	content: '';
	display: block;
	clear: both;
}

/*
 *  float가 적용된 Element의 주변부 Element가 감싸게 된다.
 *  float: left; 설정인 경우, 해당 Element를 왼쪽에 두고 감싸면서 돌아간다.
 */

.item {
	padding: 5%;
}

.item-1 {
	float: left;
	width: 30%;
	background: yellowgreen;
}

.item-2 {
	float: right;
	width: 45%;
	background: yellow;
}

/*
 *  float를 사용한 이후, 더 많은 Element를 추가하려고 한다면
 *  clear: both; 설정을 통해 해제해 주어야 한다.
 */

footer {
	clear: both;
	background: lightblue;
}